.bundle/
log/*.log
pkg/
test/dummy/log/*.log
test/dummy/tmp/
test/dummy/public/assets/
test/dummy/app/assets/builds/*
!test/dummy/app/assets/builds/.keep
doc
.yardoc
tmp/failures.txt
node_modules
yarn-error.log
coverage
.DS_Store
.cache/
